.podium-rank {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .podium-rank__number {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .podium-rank__details {
    flex: 1;
  }
  
  .podium-rank__name {
    font-size: 18px;
    margin: 0;
  }
  
  .podium-rank__score {
    font-size: 14px;
    margin: 0;
    color: black;
  }
  
  .first-place {
    background-color: gold;
  }
  
  .second-place {
    background-color: silver;
  }
  
  .third-place {
    background-color: #cd7f32;
    
  }
  